.container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.side-bar {
  font-family: "Winky Sans", sans-serif;
  background-color: rgba(217, 210, 208, 1);
  color: rgba(255, 255, 255, 0.19);
  padding: 40px;
  width: 22vw;
  margin-top: -10vh; //Deze moet van 0 naar dit voor animatie
}
.nav {
  font-size: calc(1vh + 0.5vw);
}

.nav-bar {
  color: rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 10vh;
  width: 22vw;
  max-width: 22vw;
  margin-top: 10vh; //Deze moet van 0 naar dit voor animatie
}

.project-page {
  font-family: "parkinsans", sans-serif;
  color: rgba(64, 13, 1, 1);
  display: flex;
  flex-direction: column;
  height: auto;
  scroll-margin: 30vh;
  flex: 1;
  width: 100%;
  padding: 3vw;
  margin-bottom: 10vh; // Add whitespace between project pages
}

.project-page p {
  margin: 0.2em;
  font-size: 2vh;
}

.project-page h3 {
  margin: 0.2em;
  font-weight: 100;
  text-align: end;
  font-size: 2vh;
}
.project-page h2 {
  margin: 0.2em;
  font-family: "Winky Sans", sans-serif;
  font-weight: 500;
  font-size: 3vh;
}
.project-page h1 {
  margin: 0.2em;
  font-size: 4vh;
}
.active {
  background: rgba(255, 255, 255, 0.5) !important;
}

.photo {
  flex-direction: column;
  display: flex;
  padding: 3vw;
  max-height: 50vh;
  width: auto;
  max-width: 80%;
  object-fit: cover;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 10vh; // Add whitespace between project containers
}

@media (max-width: 1200px) {
  .project-container {
    flex-direction: column;
    display: flex;
  }

  .photo {
    flex-direction: column;
    display: flex;
    padding: 3vw;
    max-height: 50vh;
    width: auto;
    max-width: 80%;
    object-fit: cover;
  }

  .project-page {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .project-container {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
  }

  .photo {
    width: 30%;
    max-height: 50%;
    padding: 3vw;

    object-fit: cover;
  }

  .project-page {
    width: 70%;
    padding: 3vw;
  }
}
