<div class="container">
  <div class="side-bar">
    <div class="nav-bar">
      <mat-list role="list">
        <mat-list-item
          *ngFor="let project of projectList"
          [class.active]="detectedProjectpage == project.title"
          (click)="scrollToProject(project.title)"
          role="listitem"
        >
          {{ project.title }}
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div>
    <div
      *ngFor="let project of projectList"
      class="project-container"
      #projectPage
      [id]="project.title"
    >
      <img class="photo" [src]="project.image" [alt]="project.title" />
      <div class="project-page">
        <h1>{{ project.content.heading }}</h1>
        <h2 *ngIf="project.content.subheading">{{ project.content.subheading }}</h2>
        <h3 *ngIf="project.content.date"><em>{{ project.content.date }}</em></h3>
        <p *ngFor="let paragraph of project.content.paragraphs">{{ paragraph }}</p>
      </div>
    </div>
  </div>
</div>

