<div class="container">
  <div class="side-bar">
    <div class="nav-bar">
      <mat-list role="list">
        <mat-list-item
          *ngFor="let project of projectList"
          [class.active]="detectedProjectpage == project.title"
          (click)="scrollToProject(project.title)"
          role="listitem"
        >
          <span class="nav" matListItemTitle>{{ project.line }}</span>
          <span class="nav" matListItemLine>{{ project.title }}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="smth">
    <div
      *ngFor="let project of projectList"
      class="project-container"
      #projectPage
      [id]="project.title"
    >
      <div class="photo-cont">
        <img
          class="photo"
          [src]="project.image"
          [alt]="project.title"
          (click)="showOverlay(project.images)"
        />
      </div>
      <div class="project-page">
        <h1>{{ project.content.heading }}</h1>
        <h2 *ngIf="project.content.subheading">
          {{ project.content.subheading }}
        </h2>
        <h3 *ngIf="project.content.date">
          <em>{{ project.content.date }}</em>
        </h3>
        <p
          *ngFor="let paragraph of project.content.paragraphs"
          [innerHTML]="paragraph"
        ></p>
      </div>
    </div>

    <!-- Overlay for fullscreen images -->
    <div class="project-container">
      <div class="image-overlay" *ngIf="overlayVisible" (click)="hideOverlay()">
        <div class="empty"></div>
        <div class="overlay-grid">
          <div *ngFor="let image of overlayImages" class="photoGrids">
            <ng-container *ngIf="isImage(image); else textBox">
              <img class="img" [src]="image" alt="Fullscreen Image" />
            </ng-container>
            <ng-template #textBox>
              <div class="text-box">{{ image }}</div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
