.container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.side-bar {
  font-family: "Winky Sans", sans-serif;
  background-color: rgba(217, 210, 208, 1);
  color: rgba(255, 255, 255, 0.19);
  padding: 40px;
  width: 22vw;
  margin-top: -10vh;
}

.nav-bar {
  color: rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 20vh;
  width: 22vw;
  margin-top: 10vh;
}

.portfolio-page {
  font-family: "parkinsans", sans-serif;
  color: rgba(64, 13, 1, 1);
  display: flex;
  flex-direction: column;
  height: auto;
  scroll-margin: 30vh;
  flex: 1;
  width: 100%;
  padding: 3vw;
  margin-bottom: 10vh;
}

.portfolio-page p {
  margin: 0.2em;
}

.portfolio-page h3 {
  margin: 0.2em;
  font-weight: 100;
  text-align: end;
}
.portfolio-page h2 {
  margin: 0.2em;
  font-family: "Winky Sans", sans-serif;
  font-weight: 500;
}
.portfolio-page h1 {
  margin: 0.2em;
}

.active {
  background: rgba(255, 255, 255, 0.5) !important;
}

.photo {
  flex-direction: column;
  display: flex;
  padding: 3vw;
  max-height: 50vh;
  width: auto;
  max-width: 80%;
  object-fit: cover;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 10vh;
}

.three-columns {
  display: flex;
  gap: 20px;

  .column {
    flex: 1;
    p {
      margin-bottom: 1em;
    }
  }
}

@media (max-width: 1500px) {
  .portfolio-container {
    flex-direction: column;
    display: flex;
  }

  .photo {
    flex-direction: column;
    display: flex;
    padding: 3vw;
    max-height: 50vh;
    width: auto;
    max-width: 80%;
    object-fit: cover;
  }

  .portfolio-page {
    width: 90%;
  }
}

@media (min-width: 1500px) {
  .portfolio-container {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
  }

  .photo {
    width: 30%;
    max-height: 50%;
    padding: 3vw;

    object-fit: cover;
  }

  .portfolio-page {
    width: 70%;
    padding: 3vw;
  }
}
