<div class="home-container">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet"
  />
  <app-home class="main"></app-home>

  <div class="footer">
    <mat-tab-group
      class="red"
      (selectedTabChange)="selectedTabChange($event)"
      [selectedIndex]="pageSelected === 'projects' ? 0 : pageSelected === 'portfolio' ? 4 : 2"
      animationDuration="1000ms"
      headerPosition="below"
      mat-stretch-tabs="true"
      mat-align-tabs="center"
      backgroundColor="primary"
      fitInkBarToContent
    >
      <mat-tab label="Projects"></mat-tab>
      <mat-tab disabled label="tim de Jong"></mat-tab>\
      <mat-tab label="About me"></mat-tab>
    </mat-tab-group>
  </div>

  <app-projects
    class="below-footer"
    *ngIf="pageSelected === 'projects'"
  ></app-projects>
  <app-portfolio
    class="below-footer"
    *ngIf="pageSelected === 'portfolio'"
  ></app-portfolio>
</div>
