.home-container{
    
}

.main {
   display: block;
   height: 95vh;
}

.footer {
    display: block;
    position: sticky;
    top: 0;
}

::ng-deep .mat-mdc-tab.mdc-tab {
    height: 5vh !important;
    background: red;
}

.below-footer
{
    margin-top: 10vh;
}
