@use "@angular/material" as mat;

.home-container {
  background: white; /* Gradient overlay */
}
.whitebackground {
  position: absolute; // Change from relative to absolute
  top: -90vh; // Ensure it starts at the top
  left: 0;
  z-index: 100; // Ensure it is above other elements
  transition: backdrop-filter 1s ease-in-out, transform 1s ease-in-out; // Smooth transition for both states
  width: 100vw; // Make it span the full width of the viewport
  height: 90vh; // Make it span the full height of the viewport
  transform: translateY(0); // Reset position when blur-active is removed
  backdrop-filter: blur(5px); // Apply slight blur for glass effect
  -webkit-backdrop-filter: blur(5px); // Safari compatibility
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); // Softer shadow for glass effect
  background: rgba(
    255,
    255,
    255,
    0.2
  ); // Add semi-transparent background for glass effect
  border: 1px solid rgba(255, 255, 255, 0.3); // Add subtle border for glass pane
  mix-blend-mode: hue; // Apply lighten blend mode
}

.whitebackground.blur-active {
  z-index: 9; // Ensure it remains above other elements
  transform: translateY(90vh); // Move down by 90vh
  backdrop-filter: blur(10px); // Apply blur effect
  -webkit-backdrop-filter: blur(10px); // Apply blur effect for Safari
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); // Slightly stronger shadow when active
  background: rgba(
    255,
    255,
    255,
    0.4
  ); // Slightly increase transparency when active
  border: 1px solid rgba(255, 255, 255, 0.5); // Adjust border for active state
}

.main {
  display: block;
  height: calc(90vh - 10vw);
  padding: 5vw;
  font-family: "Winky Sans", sans-serif;
  font-weight: 300;

  text-align: justify;
}

.footer {
  display: block;
  position: sticky;
  max-width: 100vw;
  z-index: 3;
}
.red {
  @include mat.tabs-overrides(
    (
      divider-color: rgba(64, 13, 1, 1),
      active-indicator-height: 1vh,
    )
  );
}
::ng-deep .mat-mdc-tab.mdc-tab .mdc-tab-indicator {
  color: rgba(217, 210, 208, 1) !important;
  height: 10vh !important;
  font-family: "Winky Sans", sans-serif;
  font-weight: 400;
  font-size: calc(2vw);
}

::ng-deep .mat-mdc-tab.mdc-tab {
  height: 10vh !important;
  font-family: "Winky Sans", sans-serif;
  font-weight: 400;
  color: rgba(64, 13, 1, 1);

  font-size: calc(2vw);
}

.below-footer {
  margin-top: 10vh;
}

body {
  cursor: none; // Hide the default cursor
}

.cursor-effect {
  position: fixed; // Ensure it follows the mouse position
  width: 3vw; // Reduce size to half
  height: 3vw;
  border-radius: 50%;
  pointer-events: none; // Prevent interference with other elements
  backdrop-filter: blur(7px); // Apply local blur effect
  -webkit-backdrop-filter: blur(8px); // Safari compatibility
  background: rgba(255, 255, 255, 0.13); // Reduce transparency further
  mix-blend-mode: luminosity; // Apply lighten blend mode
  z-index: 99999; // Ensure it is above all other elements
  transition: left 0.05s ease-in-out, top 0.05s ease-in-out; // Smooth movement
}
