.text {
  height: 100%;
  font-size: calc(3vw + 3vh);
  font-weight: 300;
  color: rgba(64, 13, 1, 1);
  align-content: center;
}

.red {
  background-color: rgba(226, 15, 121, 0.8);
  color: white;
  padding: 2vh;
}

.orange {
  background-color: rgba(12, 166, 154, 0.8);
  color: white;
  padding: 2vh;
}
.yellow {
  background-color: rgba(250, 220, 29, 0.8);
  color: white;
  padding: 2vh;
}

.blue {
  background-color: rgba(82, 155, 249, 0.8);
  color: white;
  padding: 2vh;
}
.violet {
  background-color: rgba(229, 95, 0, 0.8);
  color: white;
  padding: 2vh;
}
